@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.main {
  width: 360px;
  margin: auto;
}

nav {
  position: fixed;
  height: 80px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.hamburger {
  width: 40px;
  margin: 20px;
}

.menu-icons {
  display: none;
}

.menu-icons a {
  text-decoration: none;
  color: #272a31;
}

.menu-icons ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-right: 50px;
}

.menu-icons li {
  padding: 3px;
  color: #272a31;
}

.menu-icons a:hover {
  color: #ec5242;
}

.logo img {
  width: 200px;
  height: 80px;
}

#home-bg {
  background: #fff;
}

.home {
  padding: 15px;
  width: 360px;
  margin: auto;
  background: #272a31;
}

.dance-logo {
  margin-top: 90px;
}

#home2 {
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23162209' stroke-width='2.9' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.title {
  margin-top: 30px;
  color: #ec5242;
  font-size: 18px;
}

.title h2 {
  font-size: 32px;
  font-weight: 700;
}

.home-info p {
  font-size: 20px;
  margin-top: 40px;
  color: #272a31;
}
.home-info-2 p {
  margin-top: 30px;
  font-size: 20px;
  color: #ec5242;
  border: 1px solid #272a31;
  padding: 10px;
}
.program-title {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #ec5242;
}

.border {
  margin-top: 5px;
  margin-left: 120px;
  width: 70px;
  border: 1px solid #ec5242;
}

.program-items li {
  display: grid;
  gap: 20px;
  border: 1px solid #d3d3d3;
  padding: 5px;
  list-style: none;
  display: flex;
  color: #d3d3d3;
  margin-top: 10px;
}

.program-items li:hover {
  transform: scale(1.1);
}

.program-items li img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

.program-items li p {
  font-size: 15px;
  width: 80%;
}

.program-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.program-button {
  padding: 8px;
  width: 80%;
  background: #ec5242;
  color: #d3d3d3;
  font-size: 20px;
}

.program-link {
  text-align: center;
}

.program-link a {
  color: #d3d3d3;
}

.feature {
  display: grid;
  padding: 15px 100px;
}

.feature img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.feature > div {
  display: flex;
  padding: 10px;
}

.feature > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.feature span {
  color: #ec5242;
  font-size: 16px;
  margin-top: 10px;
}

/* for mobile */
@media (max-width: 767px) {
  .main {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .home {
    width: 100%;
  }

  .border {
    margin-left: 43%;
  }

  .program-link {
    display: none;
  }

  .feature {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .main {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .menu-icons {
    display: block;
  }

  .logo {
    padding-left: 30px;
  }

  .home {
    width: 100%;
    padding: 30px 100px;
  }

  .border {
    margin-left: 48%;
  }

  .program-items ul {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .program-button {
    display: none;
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
